@import "tailwindcss";

*{
  color: var(--color-gray-500)
}
html{
  scroll-behavior: smooth;
}

@theme {
  --color-gray-20: #F8F4EB;
  --color-gray-50: #EFE6E6;
  --color-gray-100: #DFCCCC;
  --color-gray-500: #5E0000;
  --color-primary-100: #FFE1E0;
  --color-primary-300: #FFA6A3;
  --color-primary-500: #FF6B66;
  --color-secondary-400: #FFCD5B;
  --color-secondary-500: #FFC132;
  --font-dmsans: "DM Sans", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
}

.center{
  @apply flex justify-center items-center
}
.between{
  @apply  justify-between items-center
}

.padding-main{
  @apply lg:px-28 md:px-20 px-10
}

.link{
  @apply hover:text-primary-300 duration-400 transition-all ease-in-out
}
.input{
  @apply bg-primary-300 outline-none border border-primary-500 py-2 px-3 placeholder:text-gray-500 text-gray-500 rounded placeholder:opacity-55
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  height: 6px;              /* thin for horizontal */
  width: 6px;               /* thin for vertical */
}

::-webkit-scrollbar-track {
  background: transparent;  /* no background */
}

::-webkit-scrollbar-thumb {
  background: #ec4899; /* Tailwind pink-500 */
  border-radius: 9999px;
  box-shadow: 0 0 8px #ec4899; /* glow effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #db2777; /* darker pink on hover */
  box-shadow: 0 0 12px #db2777; /* stronger glow */
}

